<h1>Add a Class</h1>

<form method="post" action="/add/class">
	<p>
		Term:<br />
		<select name="term_name">
			<% @terms.each do |term| %>
				<option value="<%= term.name %>"><%= term.name %></option>
			<% end %>
		</select>
	</p>
	<p>
		Class Name:<br />
		<input type="text" name="name" />
	</p>
	<p>
		Teacher:<br />
		<select name="teacher_lname">
			<% @teachers.each do |teacher| %>
				<option value="<%= teacher.lname %>"><%= teacher.lname %></option>
			<% end %>
		</select>
	</p>
	<input type="submit">
</form>