<h1>Add a Class</h1>

<form method="post" action="/add/class">
	<p>
		Term ID:<br />
		<input type="text" name="term_id" />
	</p>
	<p>
		Class Name:<br />
		<input type="text" name="name" />
	</p>
	<p>
		Teacher ID:<br />
		<input type="text" name="teacher_id">
	</p>
	<input type="submit">
</form>